.emptyBoard{
    margin: 1px;
    border-radius: 1px;
    padding: 1em;
    background-color: #1a1a1a;
}

.shipBoard{
    margin: 1px;
    border-radius: 1px;
    padding: 1em;
    background-color: #4287f5;
}

.missBoard{
    margin: 1px;
    border-radius: 1px;
    padding: 1em;
    background-color: #808080;
}

.hitBoard{
    margin: 1px;
    border-radius: 1px;
    padding: 1em;
    background-color: #d91125;
}