#ButtonsDiv {
    padding: 10px;
    display: grid;
    justify-content: center;
    justify-items: center;
}

#JoinGameDiv {
    display: grid;
    justify-content: center;
    justify-items: center;
}

#JoinButton {
    margin-top: 10px;
}

.AccountButton {
     margin: 5px;
}