#LobbyDiv {
    display:flex;
}
#ButtonsDiv {
    padding: 10px;
    display: grid;
    justify-content: center;
    justify-items: center;
}

#JoinGameDiv {
    display: grid;
    justify-content: center;
    justify-items: center;
}

#AccountsDiv {
    display: absolute;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#JoinButton {
    margin-top: 10px;
}

.AccountButton {
     margin: 5px;
}